.Header {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      display: flex;
      gap: 40px;
      a {
        font-size: 16px;
        color: rgba(105, 115, 144, 1);
      }
    }
    .actions {
      display: flex;
      gap: 30px;
      img {
        max-width: 24px;
        width: 100%;
        height: 24px;
      }
    }
  }
}
